<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDf_B_9jGcbMeZ2gDcg1ItJDaP8-4YyEsM</string>
	<key>GCM_SENDER_ID</key>
	<string>447290665864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ping.deploy</string>
	<key>PROJECT_ID</key>
	<string>pingcv</string>
	<key>STORAGE_BUCKET</key>
	<string>pingcv.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447290665864:ios:848d320bf1b3092de4e83d</string>
</dict>
</plist>